* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	background-color: #dddddd;
	background-image: url(../images/backgroundimage.png);
}
.container {
	width: 960px;
	margin: 0px auto;
}
nav {
	overflow: auto;
	background-color: #ffffff;
	border-bottom: 1px solid #cccccc;
}
.logo {
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	color: #ffffff;
	background-color: #4aaaa5;
	padding: 20px;
	float: left;
}
nav ul {
	list-style-type: none;
	font-size: 14px;
	float: right;
}
nav li {
	display: inline-block;
	height: 67px;
	line-height: 67px;
}
nav a:hover {
	text-shadow: 0px 0px 5px #000;
	color: #ffffff;
}
nav a:active {
	color: #777777;
}
nav a {
	text-decoration: none;
	color: #777777;
	padding: 10px;
}
main {
	overflow: auto;
	margin: 40px 0px;
}
.content {
	width: 650px;
	float: left;
	background-color: #ffffff;
	border: 1px solid #dddddd;
	padding: 25px;
}
aside {
	width: 270px;
	float: right;
	background-color: #ffffff;
	border: 1px solid #dddddd;
	padding: 26px;
}
h1 {
	font-size: 27px;
	font-weight: bold;
}
.heading {
	color: #4aaaa5;
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	border-bottom: 2px solid #dddddd;
	padding-bottom: 25px;
	margin-bottom: 18px;
}
.profileimage {
	float: left;
	margin-top: 8px;
	margin-right: 20px;
}
p {
	margin-bottom: 1em;
	line-height: 2;
}
p:last-of-type {
	margin-bottom: 0;
}
.portfolio {
	position: relative;
}
.portfolio ul {
	list-style-type: none;
}
.portfolio li {
	display: inline-block;
}
.portfolio a {
	text-decoration: none;
}
.portfolio a:hover {
	box-shadow: 0px 0px 20px #777777;
}
.images {
}
.images li {
	margin-bottom: 50px;
}
.images li:last-of-type {
	margin-bottom: 0;
}
.images li:nth-of-type(odd) {
	margin-right: 33px;
}
.images li img {
	border: 2px solid #4aaaa5;
}
.labels {
	position: absolute;
	top: 0;
	left: 0;	
}
.labels li {
	width: 280px;
	height: 50px;
	margin: 140px 0px 63px;
	line-height: 50px;
	text-align: center;
	color: #ffffff;
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	font-size: 18px;
}
.labels li:last-of-type {
	margin-bottom: 0;
}
.labels li:nth-of-type(odd) {
	margin-right: 33px;
}
.center {
	background-color: #4aaaa5;
}
.anchors {
	position: absolute;
	top: 0;
	left: 0;
}
.anchors a {
	display: block;
	height: 200px;
	width: 280px;
}
.anchors li {
	margin-bottom: 50px;
}
.anchors li:last-of-type {
	margin-bottom: 0px;
}
.anchors li:nth-of-type(odd) {
	margin-right: 33px;
}
input {
	width: 100%;
	margin-top: 4px;
	margin-bottom: 14px;
	padding: 6px;
}
textarea {
	width: 100%;
	height: 180px;
	margin-top: 4px;
	margin-bottom: 14px;
	padding: 6px;
}
button {
	background-color: #4aaaa5;
	color: #ffffff;
	padding: 8px 22px;
	border: none;
}
button:hover {
	background-color: #2e6a67; 
}
button:active {
	background-color: #4aaaa5;
}
.asideheading {
	color: #4aaaa5;
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	font-size: 20px;
	font-weight: bold;
	border-bottom: 1px solid #dddddd;
	padding-bottom: 15px;
	margin-bottom: 15px;
}
aside ul {
	list-style-type: none;
}
aside li {
	display: inline-block;
	padding-right: 13px;
}
aside li:last-of-type {
	padding-right: 0px;
}
aside a:hover {
	opacity: 0.6;
}
footer {
	background-color: #666666;
	border-top: 3px solid #4aaaa5;
	height: 67px;
	line-height: 64px;
	text-align: center;
	color: #a6a6a7;
}
h6 {
	font-size: 11px;
}
.inline-link {
	color: #777777;
}
.inline-link:hover {
	opacity: 0.6;
}

/* sticky footer */
html {
	height: 100%;
}
body {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
main {
	flex: 1;
}

/* animation for social links */

.rotate {
	animation-name: rotate;
	animation-duration: 2s;
}

@keyframes rotate {
	from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}

/* media queries */

@media only screen and (max-width:980px) {

	.container {
		width: 730px;
	}
	.content {
		width: 420px;
	}
	.profileimage {
		float: none;
		margin: 0px 0px 10px 84px;
	}
	p {
		font-weight: bold;
	}
	a {
		font-weight: bold;
	}
	.images li {
		width: 100%;
		text-align: center;
	}
	.images li:nth-of-type(odd) {
		margin-right: 0px;
	}
	.labels li {
		width: 100%;	
	}
	.labels li:nth-of-type(odd) {
		margin-right: 0px;
	}
	.center {
		width: 280px;
		margin: 0px auto;
	}
	.anchors a {
		margin: 0px auto;
	}
	.anchors li {
		width: 100%;
	}
	.anchors li:nth-of-type(odd) {
		margin-right: 0px;
	}

} /* end media max-width:980px */

@media only screen and (max-width:768px) {

	html {
		min-width: 620px;
	}
	.container {
		width: 620px;
	}
	.content {
		float: none;
		width: 100%;
		margin-bottom: 40px;
	}
	.profileimage {
		float: left;
		margin-top: 8px;
		margin-right: 20px;
		margin-left: 0px;
	}
	aside {
		width: 100%;
		float: none;
	}
	.images li {
		width: 280px;
	}
	.images li:nth-of-type(odd) {
		margin-right: 3px;
	}
	.labels li {
		width: 280px;
	}
	.labels li:nth-of-type(odd) {
		margin-right: 3px;
	}
	.anchors li {
		width: 280px;
	}
	.anchors li:nth-of-type(odd) {
		margin-right: 3px;
	}

} /* end media max-width:768px */

@media only screen and (max-width:640px) {

	html {
		min-width: 300px;
	}
	.container {
		width: 100%;
	}
	.logo {
		float: none;
		text-align: center;
	}
	nav ul {
		float: none;
		display: flex;
	}
	.expand {
		flex: 1;
		text-align: center;
	}
	.mobile {
		display: flex;
		justify-content: center;
	}
	.mobilecontainer {
		margin-left: 10px;
		margin-right: 10px;
	}
	.images li {
		width: 100%;
	}
	.images li:nth-of-type(odd) {
		margin-right: 0px;
	}
	.labels li {
		width: 100%;	
	}
	.labels li:nth-of-type(odd) {
		margin-right: 0px;
	}
	.anchors li {
		width: 100%;
	}
	.anchors li:nth-of-type(odd) {
		margin-right: 0px;
	}

} /* end media max-width:640px */